<template>
  <div>
    <el-button
      v-if="image"
      :type="type"
      :class="className"
      :loading="loading"
      :size="size"
      @click="$emit('click')"
      :style="`${background && 'background-color:'+background}`"
    >
      <div class="d-flex align-items-center">
        <img :src="image" alt />
        <span class="ml-2">{{text}}</span>
      </div>
    </el-button>
    <el-button
      v-else
      :type="type"
      :loading="loading"
      :size="size"
      :class="className"
      :icon="icon"
      @click="$emit('click')"
      :style="`${background && 'background-color:'+background}`"
    >{{text}}</el-button>
  </div>
</template>

<script>
export default {
  props: {
    className: {
      type: String,
      default: null
    },
    background: {
      type: String,
      default: null
    },
    image: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: 'primary'
    },
    loading: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: 'Thêm mới'
    },
    icon: {
      type: String,
      default: 'el-icon-plus'
    },
    size: {
      type: String,
      default: 'small'
    }
  }
}
</script>
