<template>
  <el-button :size="size" type="danger" :icon="icon" @click="$emit('click')">{{text}}</el-button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Tải xuống'
    },
    icon: {
      type: String,
      default: 'el-icon-download'
    },
    size: {
      type: String,
      default: 'small'
    }
  }
}
</script>
