<template>
  <el-button
    :size="size"
    :loading="loading"
    type="danger"
    :icon="icon"
    @click="$emit('click')"
  >{{text}}</el-button>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: "Xóa"
    },
    icon: {
      type: String,
      default: "el-icon-delete"
    },
    size: {
      type: String,
      default: "small"
    }
  }
};
</script>
