<template>
  <el-button
    type="primary"
    :loading="loading"
    :size="size"
    :icon="icon"
    @click="$emit('click')"
  >{{text}}</el-button>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: "Cập nhật"
    },
    icon: {
      type: String,
      default: "el-icon-edit-outline"
    },
    size: {
      type: String,
      default: "small"
    }
  }
};
</script>
