<template>
  <el-button type="warning" :size="size" :icon="icon" @click="$emit('click')">{{text}}</el-button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Lọc'
    },
    icon: {
      type: String,
      default: 'el-icon-finished'
    },
    size: {
      type: String,
      default: 'small'
    }
  }
}
</script>
