<template>
  <el-button :size="size" type="success" :icon="icon" @click="$emit('click')">{{text}}</el-button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Nhập excel'
    },
    icon: {
      type: String,
      default: 'el-icon-upload2'
    },
    size: {
      type: String,
      default: 'small'
    }
  }
}
</script>
