<template>
  <el-button :size="size" :type="type" :icon="icon" @click="$emit('click')">{{text}}</el-button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'In'
    },
    icon: {
      type: String,
      default: 'el-icon-printer'
    },
    size: {
      type: String,
      default: 'small'
    },
    type: {
      type: String,
      default: 'success'
    }
  }
}
</script>