<template>
  <el-button type="success" :size="size" :icon="icon" @click="$emit('click')">{{text}}</el-button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Xem'
    },
    icon: {
      type: String,
      default: 'el-icon-view'
    },
    size: {
      type: String,
      default: 'small'
    }
  }
}
</script>