<template>
  <div class="double-button">
    <el-tooltip effect="dark" :content="tooltipContent.left" placement="bottom">
      <el-button
        :style="{ 'background-color': color.left, color: color.textLeft, height: `${height}px`, width: `${width}px`}"
        :size="size"
        @click="clickLeftButton"
      >
        <b>{{ contentButton.left }}</b>
      </el-button>
    </el-tooltip>
    <el-tooltip
      effect="dark"
      @click="clickRightButton"
      :content="tooltipContent.right"
      placement="bottom"
    >
      <el-button
        :style="{'background-color': color.right, color: color.textRight, height: `${height}px`, width: `${width}px`}"
        :size="size"
        @click="clickRightButton"
      >
        <b>{{ contentButton.right }}</b>
      </el-button>
    </el-tooltip>
  </div>
</template>

<script>
export default {
  props: {
    tooltip: {
      type: Object,
      default: () => {
        return {
          left: 'VND',
          right: 'Phần trăm'
        }
      }
    },

    content: {
      type: Object,
      default: () => {
        return {
          left: 'VND',
          right: '%'
        }
      }
    },

    size: {
      type: String,
      default: 'small'
    },

    height: {
      type: Number,
      default: 30
    },

    width: {
      type: Number,
      default: 30
    },

    isChoosenLeft: {
      type: Boolean,
      default: true
    }
  },

  computed: {
    tooltipContent() {
      if (!this.tooltip.left && !this.tooltip.right) {
        return {
          left: this.$t('VND'),
          right: this.$t('Phần trăm')
        }
      }

      if (!this.tooltip.left) {
        return {
          left: this.$t('VND'),
          right: this.tooltip.right
        }
      }

      if (!this.tooltip.right) {
        return {
          left: this.tooltip.right,
          right: this.$t('Phần trăm')
        }
      }

      return this.tooltip
    },

    contentButton() {
      if (!this.content.left && !this.content.right) {
        return {
          left: this.$t('VND'),
          right: this.$t('Phần trăm')
        }
      }

      if (!this.content.left) {
        return {
          left: this.$t('VND'),
          right: this.tooltip.right
        }
      }

      if (!this.content.right) {
        return {
          left: this.tooltip.right,
          right: this.$t('Phần trăm')
        }
      }

      return this.content
    },

    color() {
      if (this.isClickLeft) {
        return {
          left: '#72C472',
          right: '#fff',
          textLeft: '#fff',
          textRight: '#000'
        }
      } else
        return {
          left: '#fff',
          right: '#72C472',
          textLeft: '#000',
          textRight: '#fff'
        }
    },

    isClickLeft() {
      return this.isChoosenLeft
    }
  },

  methods: {
    clickLeftButton() {
      this.isClickLeft = true
      this.$emit('clickLeftButton')
    },

    clickRightButton() {
      this.isClickLeft = false
      this.$emit('clickRightButton')
    }
  }
}
</script>

<style lang="scss" scoped>
.double-button {
  .el-button {
    padding: 2% 0;
    display: inline;
  }
}
</style>