<template>
  <div>
    <div
      class="fs-12"
    >Để quét được tất cả số điện thoại trong fanpage, bạn cần nhập mã token cảu fanpage đó.</div>
    <el-form-item
      label="Mã Token"
      prop="token"
      :rules="[{
            required: true,
            message: 'Please input Activity token',
            trigger: ['blur', 'change']
          }]"
    >
      <br />
      <el-input v-model="form.token" placeholder="Token" style="width:510px"></el-input>
    </el-form-item>
  </div>
</template>
<script>
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
