<template>
  <div>
    <div
      class="fs-12"
    >Trước khi tải danh sách lên, bạn nhớ kiểm tra xem đã có đủ thông tin nhận dạng ở đúng định dạng chưa (Phải có định dạng CSV hoặc TXT)</div>
    <div class="btn-down align-items-center">
      <img src="/images/icon/down.svg" alt="down" />
      <div class="down-file fs-14 ml-4 cursor-point" @click="downFileSample">Tải mẫu danh sách xuống</div>
    </div>
    <div
      class="f-upload d-flex align-items-center justify-center flex-col"
      @drop.prevent="dropFile"
      @dragover.prevent
    >
      <div v-if="form.infoUpload.file">
        <img src="/images/excel.svg" alt="img-excel" width="100px" />
        <div class="fs-12 mb-5 text-center">{{form.infoUpload.name}}</div>
      </div>
      <div class="mb-8 title" v-else>Kéo và thả file của bạn tại đây hoặc</div>
      <el-button type="danger" size="small" @click="$emit('clickUpFile')">Tải File lên</el-button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    dropFile(e) {
      const droppedFiles = e.dataTransfer.files
      if (!droppedFiles.length) return true
      this.$emit('upFile', droppedFiles[0])
    },
    downFileSample() {
      window.location.href = '/file/danh-sach-khach-hang.xlsx'
    }
  }
}
</script>
<style lang="scss" scoped>
.btn-down {
  margin-top: 11px;
  background-color: #f1f7ff;
  padding: 8px 10px;
  display: inline-flex;
  .down-file {
    color: #4b7cf2;
    font-weight: bold;
  }
}
.f-upload {
  margin-top: 16px;
  border: 1px dashed #d8dddf;
  padding: 20px;
  min-height: 86px;
  .title {
    color: #969da8;
    font-size: 16px;
  }
}
</style>
