<template>
  <div>
    <div class="fs-12">Vui lòng nhập đầy đủ thông tin khách hàng của bạn!</div>
    <el-row :gutter="8">
      <el-col :lg="8">
        <el-form-item
          label="Tên khách hàng"
          prop="name"
          :rules="[{
            required: true,
            message: 'Vui lòng nhập họ tên',
            trigger: ['blur', 'change']
          }]"
        >
          <el-input v-model="form.name" placeholder="Họ và tên"></el-input>
        </el-form-item>
      </el-col>
      <el-col :lg="8">
        <el-form-item label="Số điện thoại">
          <el-input v-model="form.phone" placeholder="Số điện thoại"></el-input>
        </el-form-item>
      </el-col>
      <el-col :lg="8">
        <el-form-item label="Giới tính">
          <el-select v-model="form.gender" placeholder="Lựa chọn giới tính" class="w-full">
            <el-option
              v-for="(item,index) in listGender"
              :key="index"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :lg="8">
        <el-form-item label="Link Facebook">
          <el-input v-model="form.facebook.link" placeholder="Url hoặc Id Facebook"></el-input>
        </el-form-item>
      </el-col>
      <el-col :lg="8">
        <el-form-item label="Tên Facebook">
          <el-input v-model="form.facebook.name" placeholder="Họ tên Facebook"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      listGender: [
        { label: 'Nam', value: 'male' },
        { label: 'Nữ', value: 'female' },
        { label: 'khách', value: 'other' }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
