<template>
  <div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-position="top"
      class="demo-ruleForm"
    >
      <el-form-item prop="title">
        <span slot="label" class="fs-12">CHỦ ĐỀ</span>
        <el-input v-model="ruleForm.title" placeholder="Nhập chủ đề" class="fs-12"></el-input>
      </el-form-item>
      <el-form-item prop="content">
        <span slot="label" class="fs-12">NỘI DUNG TRẢ LỜI</span>
        <div class="el-textarea__inner p-0">
          <HastagTextarea
            :option="option"
            @onChangeHashtag="onChangeHashtag"
            @onSelectHashtag="onSelectHashtag"
            @onChangeValue="onChangeValue"
            ref="vueHashtagTextarea"
          />
          <el-popover
            trigger="click"
            v-model="popoverVisible"
            placement="top-start"
            popper-class="p-0"
          >
            <span slot="reference">
              <i class="far fa-grin pl-3"></i>
            </span>
            <no-ssr>
              <VEmojiPicker @select="selectEmoji" />
            </no-ssr>
          </el-popover>
        </div>
      </el-form-item>
      <div class="_f_suggest mt-8">
        <ul class="ul-suggest">
          <li
            class="d-flex mt-4 align-items-center"
            v-for="(suggest,index) in listSuggest"
            :key="index"
          >
            <div
              class="title fs-12 mr-4 text-center cursor-point"
              :style="`background-color:${suggest.bg}`"
              @click="chooseHasTag({row: suggest})"
            >{{suggest.name}}</div>
            <div class="note">{{suggest.note}}</div>
          </li>
        </ul>
      </div>
      <el-form-item class="mt-10">
        <div class="d-flex justify-between">
          <div>
            <el-checkbox v-model="ruleForm.isActive">Kích hoạt</el-checkbox>
          </div>
          <div>
            <el-button @click="$emit('close')">Hủy</el-button>
            <el-button type="danger" @click="submitForm('ruleForm')">{{textButtonSave}}</el-button>
          </div>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import VEmojiPicker from 'v-emoji-picker'
import HastagTextarea from '@/components/UI/HastagTextarea'
export default {
  components: { VEmojiPicker, HastagTextarea },
  data() {
    return {
      option: {
        placeholder: 'Nội dung trả lời',
        defaultContent: '',
        hashtagBackgroundColor: '#fff',
        hashtagColor: 'rgb(175, 130, 212)'
      },
      reflinks: [
        'https://smaxbot/?ref=phanhoangba',
        'https://smaxbot/?ref=dangvanthi'
      ],
      percents: ['10%', '20%', '30%'],
      listSuggest: [
        {
          name: '{{fullName}}',
          note: 'Chèn tên đầy đủ của khách hàng',
          bg: '#AF82D4'
        },
        {
          name: '{{lastName}}',
          note: 'Chèn tên của khách hàng',
          bg: '#AF82D4'
        },
        {
          name: '{{firstName}}',
          note: 'Chèn họ của khách hàng',
          bg: '#AF82D4'
        },
        {
          name: '[=GENDER(anh,chị,bạn)]',
          note: 'Chèn xưng hô theo giới tính của khách hàng',
          bg: '#3A6F90'
        },
        {
          name: '{Spin 1 | Spin 2 | Spin 3}',
          note: 'Lựa chọn xưng hỗ ngẫu nhiên giữa các từ (tối đa 5 từ)',
          bg: '#3A6F90'
        }
      ],
      ruleForm: {},
      rules: {
        title: [
          {
            required: true,
            message: 'Please input Activity code',
            trigger: ['blur', 'change']
          }
        ],
        content: [
          {
            required: true,
            message: 'Please input Activity code',
            trigger: ['blur', 'change']
          }
        ]
      },
      popoverVisible: false
    }
  },
  computed: {
    ...mapState('sampleMessage', ['selectSampleMessage']),
    textButtonSave() {
      return this.selectSampleMessage._id ? 'Cập nhật' : 'Lưu'
    }
  },
  created() {
    const { selectSampleMessage, generatorSampleMessage } = this
    if (selectSampleMessage._id) {
      this.ruleForm = cloneDeep(selectSampleMessage)
    } else {
      this.ruleForm = generatorSampleMessage()
    }
    this.option.defaultContent = this.ruleForm.content
  },
  methods: {
    ...mapActions('sampleMessage', [
      'updateSampleMessage',
      'createSampleMessage'
    ]),
    async submitForm(formName) {
      this.loading = true
      try {
        await this.$refs[formName].validate()
        const { ruleForm } = this
        const { isSuccess, data } = ruleForm._id
          ? await this.updateSampleMessage({ id: ruleForm._id, data: ruleForm })
          : await this.createSampleMessage({ data: ruleForm })
        if (isSuccess) {
          this.$message.success('Thêm thành công')
          this.$emit('close')
          this.$emit('addGroup', data)
        }
      } catch (error) {}
      this.loading = false
    },
    onChangeValue(value) {
      this.ruleForm.content = value
    },
    onChangeHashtag(info) {
      console.log('info', info)
    },
    onSelectHashtag(target) {
      console.log('target', target)
    },
    onSelectItem(item) {
      console.log('item', item)
      this.$refs.vueHashtagTextarea.replaceHashtagNodeContent(
        item.content + ' '
      )
    },
    chooseHasTag({ row }) {
      this.$refs.vueHashtagTextarea.replaceHashtagNodeContent(
        this.ruleForm.content + row.name
      )
    },
    selectEmoji(emoji) {
      this.$refs.vueHashtagTextarea.replaceHashtagNodeContent(
        this.ruleForm.content + emoji.data
      )
      // this.ruleForm.content += emoji.data
      this.popoverVisible = false
    },
    generatorSampleMessage() {
      return {
        title: '',
        content: '',
        isActive: true
      }
    }
  }
}
</script>

<style lang="css" scoped>
.textarea-custom >>> .el-textarea__inner {
  resize: none;
  border: none;
}
</style>
<style lang="scss" scoped>
._f_suggest {
  ul {
    padding: 0;
    list-style: none;
    li {
      .title {
        color: #fff;
        border-radius: 20px;
        padding: 4px 5px;
        min-width: 156px;
      }
      .note {
        // color: #191935;
      }
    }
  }
}
</style>
