<template>
  <el-tooltip :content="text" placement="top">
    <img :src="image" :alt="text" v-if="image" @click="$emit('click')" class="cursor-point" />
    <i @click="$emit('click')" class="cursor-point" :class="icon" v-else></i>
  </el-tooltip>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Xóa'
    },
    image: { type: String, default: null },
    icon: {
      type: String,
      default: 'el-icon-delete'
    },
    size: {
      type: String,
      default: 'mini'
    }
  }
}
</script>
