<template>
  <el-tooltip :content="text" placement="top">
    <img :src="image" :alt="text" v-if="image" @click="$emit('click')" class="cursor-point icon" />
    <i @click="$emit('click')" class="cursor-point icon" :class="icon" v-else></i>
  </el-tooltip>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Sửa'
    },
    image: { type: String, default: null },
    icon: {
      type: String,
      default: 'el-icon-edit'
    },
    size: {
      type: String,
      default: 'mini'
    }
  }
}
</script>
<style lang="scss" scoped>
.icon {
  padding: 5px;
  border-radius: 3px;
  height: 24px;
  width: 24px;
  &:hover {
    transition: 0.2s all ease;
    background-color: #dc080817;
  }
}
</style>
