<template>
  <el-tooltip :content="text" placement="top">
    <i @click="$emit('click')" class="cursor-point pr-3" :class="icon"></i>
  </el-tooltip>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: "Đánh giá"
    },
    icon: {
      type: String,
      default: "el-icon-s-comment"
    },
    size: {
      type: String,
      default: "mini"
    }
  }
};
</script>
