<template>
  <div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-position="top"
      class="demo-ruleForm"
    >
      <el-form-item prop="name">
        <span slot="label" class="fs-12">Tện tệp khách hàng</span>
        <el-input
          v-model="ruleForm.name"
          placeholder="Nhập tên"
          class="fs-12"
          maxlength="64"
          show-word-limit
        ></el-input>
      </el-form-item>
      <el-form-item class="mt-10">
        <div class="d-flex justify-between">
          <div>
            <el-checkbox v-model="ruleForm.isActive">Kích hoạt</el-checkbox>
          </div>
          <div>
            <el-button @click="$emit('close')">Hủy</el-button>
            <el-button
              type="danger"
              @click="submitForm('ruleForm')"
              :loading="loading"
            >{{textButtonSave}}</el-button>
          </div>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
export default {
  data() {
    return {
      loading: false,
      ruleForm: {
        name: '',
        isActive: true
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Vui lòng nhập tên tệp',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },
  computed: {
    ...mapState('groupCustomer', ['selectGroupCustomer']),
    textButtonSave() {
      return this.selectGroupCustomer._id ? 'Cập nhật' : 'Lưu'
    }
  },
  created() {
    const { selectGroupCustomer, generatorGroupCustomer } = this
    if (selectGroupCustomer._id) {
      this.ruleForm = cloneDeep(selectGroupCustomer)
    } else {
      this.ruleForm = generatorGroupCustomer()
    }
  },
  methods: {
    ...mapActions('groupCustomer', [
      'updateGroupCustomer',
      'createGroupCustomer'
    ]),
    async submitForm(formName) {
      this.loading = true
      try {
        await this.$refs[formName].validate()
        const { ruleForm } = this
        const { isSuccess, data } = ruleForm._id
          ? await this.updateGroupCustomer({ id: ruleForm._id, data: ruleForm })
          : await this.createGroupCustomer({ data: ruleForm })
        if (isSuccess) {
          this.$message.success('Thêm thành công')
          this.$emit('close')
          this.$emit('addGroup', data)
        }
      } catch (error) {}
      this.loading = false
    },
    generatorGroupCustomer() {
      return {
        name: '',
        isActive: true
      }
    }
  }
}
</script>

<style lang="css" scoped>
.textarea-custom >>> .el-textarea__inner {
  resize: none;
  border: none;
}
</style>
<style lang="scss" scoped>
._f_suggest {
  ul {
    padding: 0;
    list-style: none;
    li {
      .title {
        color: #fff;
        border-radius: 20px;
        padding: 4px 5px;
        min-width: 156px;
      }
      .note {
        // color: #191935;
      }
    }
  }
}
</style>
