<template>
  <div class="mb-5">
    <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
      <el-input
        v-model="filter.search"
        placeholder="Tìm kiếm"
        prefix-icon="el-icon-search"
        style="width:260px;"
        @input="filterSearch"
      />
      <div class="d-flex">
        <el-select v-model="filter.limit" placeholder="Total" style="width:120px;">
          <el-option v-for="(item,index) in limits" :key="index" :label="item" :value="item"></el-option>
        </el-select>
        <div class="btn-refresh">
          <i class="el-icon-refresh fs-16"></i>
        </div>
      </div>
    </div>
    <el-card :body-style="{ padding: '10px' }" shadow="hover">
      <div class="table">
        <el-table :data="tableData" style="width: 100%">
          <el-table-column label-class-name="fs-12" label="STT" width="50" type="index"></el-table-column>
          <el-table-column label-class-name="fs-12" label="NGƯỜI NHẬN" width="200">
            <template slot-scope="scope">
              <div class="d-flex">
                <div class="mr-4 d-flex align-items-center">
                  <img class="avatar" :src="scope.row.idCustomer.avatar" alt />
                </div>
                <div>
                  <div class="font-weight-bold">{{scope.row.idCustomer.name}}</div>
                  <div class="cl-blue">{{ scope.row.idCustomer.idFacebook}}</div>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="NỘI DUNG" width="260">
            <template slot-scope="scope">{{ scope.row.content}}</template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="GỬI LÚC">
            <template slot-scope="scope">
              <div>{{scope.row.createdAt | renderDateTime('dd/MM/Y, h:mm')}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="THÀNH CÔNG" width="110">
            <template slot-scope="scope">
              <img
                :src="scope.row.isSent ? '/images/icon/check.svg' : '/images/icon/false.svg'"
                alt
              />
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="GHI CHÚ">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{scope.row.note}}</div>
            </template>
          </el-table-column>
        </el-table>
        <Pagination :pagination="pagination" />
      </div>
    </el-card>
  </div>
</template>
<script>
import Pagination from '@/components/UI/Pagination'
export default {
  components: {
    Pagination
  },
  data() {
    return {
      limits: [10, 20, 50, 100],
      filter: {
        search: ''
      },
      dialog: {
        add: false
      },
      pagination: {
        limit: 10,
        page: 1,
        total: 10
      },
      tableData: [
        {
          idCustomer: {
            name: 'Trần Văn Cương',
            idFacebook: '12093819283',
            avatar:
              'http://graph.facebook.com/1511807602304535/picture?type=square'
          },
          createdAt: new Date(),
          updatedAt: new Date(),
          content: 'Tôi muốn mua ba bộ quần áo ...',
          isSent: true,
          note: 'Chỉ lấy màu đen'
        },
        {
          idCustomer: {
            name: 'Trần Văn Cương',
            idFacebook: '12093819283',
            avatar:
              'http://graph.facebook.com/1511807602304535/picture?type=square'
          },
          createdAt: new Date(),
          updatedAt: new Date(),
          content: 'Tôi muốn mua ba bộ quần áo ...',
          isSent: true,
          note: 'Chỉ lấy màu đen'
        },
        {
          idCustomer: {
            name: 'Trần Văn Cương',
            idFacebook: '12093819283',
            avatar:
              'http://graph.facebook.com/1511807602304535/picture?type=square'
          },
          createdAt: new Date(),
          updatedAt: new Date(),
          content: 'Tôi muốn mua ba bộ quần áo ...',
          isSent: true,
          note: 'Chỉ lấy màu đen'
        },
        {
          idCustomer: {
            name: 'Trần Văn Cương',
            idFacebook: '12093819283',
            avatar:
              'http://graph.facebook.com/1511807602304535/picture?type=square'
          },
          createdAt: new Date(),
          updatedAt: new Date(),
          content: 'Tôi muốn mua ba bộ quần áo ...',
          isSent: true,
          note: 'Chỉ lấy màu đen'
        },
        {
          idCustomer: {
            name: 'Trần Văn Cương',
            idFacebook: '12093819283',
            avatar:
              'http://graph.facebook.com/1511807602304535/picture?type=square'
          },
          createdAt: new Date(),
          updatedAt: new Date(),
          content: 'Tôi muốn mua ba bộ quần áo ...',
          isSent: true,
          note: 'Chỉ lấy màu đen'
        },
        {
          idCustomer: {
            name: 'Trần Văn Cương',
            idFacebook: '12093819283',
            avatar:
              'http://graph.facebook.com/1511807602304535/picture?type=square'
          },
          createdAt: new Date(),
          updatedAt: new Date(),
          content: 'Tôi muốn mua ba bộ quần áo ...',
          isSent: true,
          note: 'Chỉ lấy màu đen'
        }
      ]
    }
  },
  methods: {
    handleEdit({ row, index }) {},
    changeActiveCustomer({ row, index, val }) {
      row.isActive = val
      // this.SET_PROPERTY_ACTIVE({ key: 'isActive', value: val, index })
      // const { isSuccess } = await this.activeAgency({
      //   id: row.id,
      //   data: { isActive: val }
      // })
      // if (isSuccess) {
      //   this.$message.success('Cập nhật thành công')
      // } else {
      //   this.$message.error('Cập nhật thất bại')
      //   this.SET_PROPERTY_ACTIVE({ key: 'isActive', value: !val, index })
      // }
    },
    filterSearch(value) {
      clearTimeout(this.timeoutSearch)
      this.timeoutSearch = setTimeout(() => {
        // this.$emit('loadDataTable')
      }, 500)
    }
  }
}
</script>
<style lang="scss" scoped>
.btn-refresh {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f4;
  cursor: pointer;
  margin-left: 8px;
  border: 1px solid #dcdfe6;
  &:hover {
    border: 1px solid #c0c4cc;
    transition: 0.2s all ease;
  }
}
.avatar {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
</style>
