<template>
  <div>
    <div class="mb-5">
      <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
        <Breadcrumb />
      </div>
    </div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-position="top"
      class="demo-ruleForm"
    >
      <el-form-item prop="content">
        <span slot="label" class="fs-14">Nội dung soạn thảo</span>
        <client-only>
          <vue-editor
            v-model="ruleForm.content"
            useCustomImageHandler
            @image-added="handleImageAdded"
          ></vue-editor>
        </client-only>
      </el-form-item>
      <el-form-item class="mt-10">
        <div class="text-right">
          <el-button @click="$emit('close')">Hủy</el-button>
          <el-button type="danger" @click="submitForm('ruleForm')" :loading="loading">Cập nhật</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import Breadcrumb from '@/components/UI/Breadcrumb'
export default {
  middleware: ['admin'],
  components: { Breadcrumb },
  async asyncData({ route, store, params, query, redirect }) {
    const listParam = ['extension', 'app-sms', 'soft-sms', 'document']
    if (!listParam.includes(params.slug)) redirect('/')
    await store.dispatch('editor/getEditor', { slug: params.slug })
  },
  data() {
    return {
      loading: false,
      ruleForm: {},
      rules: {
        content: [
          {
            required: true,
            message: 'Vui lòng nhập nội dung',
            trigger: ['blur', 'change']
          }
        ]
      }
    }
  },
  computed: {
    ...mapState('editor', ['selectEditor'])
  },
  created() {
    const { selectEditor, generatorEditor } = this
    if (selectEditor._id) {
      this.ruleForm = cloneDeep(selectEditor)
    } else {
      this.ruleForm = generatorEditor()
    }
  },
  methods: {
    ...mapActions('editor', ['updateEditor', 'createEditor', 'uploadFile']),
    async submitForm(formName) {
      this.loading = true
      try {
        await this.$refs[formName].validate()
        const { ruleForm } = this
        const { isSuccess } = await this.createEditor({ data: ruleForm })
        if (isSuccess) {
          this.$message.success('Cập nhật thành công')
          this.$emit('close')
        }
      } catch (error) {}
      this.loading = false
    },
    async handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      if (file.size > 5 * 1024 * 1024)
        return this.$message.warning(
          'File quá lớn, dung lượng tối đa cho phép 5MB'
        )
      const nameFile = file.name.substring(file.name.lastIndexOf('.'))
      const valiFileType = ['.jpg', '.png', '.bmp', '.jpeg', '.tif', '.gif']
      if (!valiFileType.includes(nameFile.toLowerCase()))
        return this.$message.warning(
          `File sai định dạng, định dạng cho phép ${valiFileType.join(',')}`
        )
      const formData = new FormData()
      formData.append('file', file)
      const { isSuccess, data } = await this.uploadFile(formData)
      if (isSuccess) {
        Editor.insertEmbed(cursorLocation, 'image', data.url)
        resetUploader()
      }
    },
    generatorEditor() {
      return {
        slug: this.$route.params.slug,
        content: ''
      }
    }
  }
}
</script>
