<template>
  <div>
    <div v-if="text" class="fs-24 font-weight-bold" style="color:#191935;">{{text}}</div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <!-- <el-breadcrumb-item :to="{ path: '/' }" class="fs-18 font-weight-bold">Home</el-breadcrumb-item> -->
      <el-breadcrumb-item
        v-for="(item,index) in navbarSelected"
        :key="index"
        class="fs-24 font-weight-bold"
        style="color:#191935;"
      >{{item.name}}</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>
<script>
import navbarJson from '@/utils/navbar.json'
import navbarManage from '@/utils/navbarManage.json'
export default {
  props: {
    text: String
  },
  data() {
    return {
      navbarSelected: [],
      navbar: []
    }
  },
  watch: {
    $route(value) {
      this.getNavbarSelected()
    }
  },
  created() {
    this.navbar = {}
    this.navbar.mainMenu = [...navbarManage.mainMenu, ...navbarJson.mainMenu]
    this.getNavbarSelected()
  },
  methods: {
    getNavbarSelected() {
      this.navbarSelected = []
      const path = this.$route.path
      Object.keys(this.navbar).some((key) => {
        return this.navbar[key].some((item) => {
          if (item.childs && item.childs.length) {
            const hasChild = item.childs.some((itemChild) => {
              if (itemChild.link === path) {
                this.navbarSelected = [item]
                this.navbarSelected.push(itemChild)
                return true
              }
            })
            if (hasChild) return true
          }
          if (item.link === path) {
            if (item.link === '/') return true
            this.navbarSelected = [item]
            return true
          }
          return false
        })
      })
    }
  }
}
</script>
