<template>
  <div id="input" class="hashtag-textarea">
    <div id="input-overlay" class="hashtag-textarea__overlay" :style="overlayStyle" />
    <div
      id="input-true-text"
      class="hashtag-textarea__true-text"
      wrap="soft"
      :style="trueTextStyle"
      contenteditable="true"
      spellcheck="false"
    ></div>

    <div
      class="hashtag-textarea__placeholder"
      v-show="shouldShowPlaceholder"
    >{{ option.placeholder }}</div>
  </div>
</template>

<style lang="scss">
$textWidth: 100%;
$textPadding: 5px 15px;
// NOTE: Component of hashtag textarea
.hashtag-textarea {
  position: relative;
  overflow: auto;
  // border-bottom: 1px solid #e4e4e4;
  background: white;
  min-height: 50px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  // NOTE: Textarea layout. Fix position
  &__true-text {
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    color: transparent;
    caret-color: #606266;
    outline: none;
  }
  &__overlay {
    -webkit-tap-highlight-color: transparent;
  }
  &__overlay,
  &__true-text {
    padding: $textPadding;
    margin: 0px;
    height: 100%;
    width: $textWidth;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  &__placeholder {
    font-size: 12px;
    padding: $textPadding;
    position: absolute;
    top: 0;
    color: lightgray;
  }
}
</style>

<script>
export default {
  name: 'VueHashtagTextarea',
  props: {
    option: {
      type: Object
    }
  },
  data() {
    return {
      hashtagList: [],
      shouldShowPlaceholder: true,
      defaultOption: {
        defaultContent: '',
        textColor: '#606266',
        fontSize: '14px',
        hashtagBackgroundColor: 'transparent',
        hashtagColor: '#ff0000',
        placeholder: 'Sentence for placeholder #place #holder',
        isEditMode: true,
        listHasTag: [
          {
            regexType: ['element'],
            background: '#fff',
            color: '#af82d4'
          },
          {
            regexType: ['gender', 'spin'],
            background: '#fff',
            color: 'red'
          }
        ]
      },
      focusedHashtagNode: {},
      timeout: null
    }
  },
  computed: {
    isSafariBrowser() {
      let isSafariBrowser = false
      const userAgent = window.navigator.userAgent.toLowerCase()

      if (
        userAgent.indexOf('safari') !== -1 &&
        userAgent.indexOf('chrome') === -1
      ) {
        isSafariBrowser = true
      }

      return isSafariBrowser
    },
    trueTextStyle() {
      const style = {}
      style.fontSize = this.option.fontSize
      style['z-index'] = this.option.isEditMode ? 2 : -2
      return style
    },
    overlayStyle() {
      const style = {}
      style.color = this.option.textColor
      style.fontSize = this.option.fontSize
      return style
    },
    /**
     * regex bắt 5 kiểu có dạng:
     * 1. {{fullname}}
     * 2. {{lastName}}
     * 3. {{firstName}}
     * 4. [=GENDER(x,y,z)] : \[=GENDER\([(\w)(\s)(\pL),]+\)]
     * 5. {x|y|z}:  \s+{[([(\w)(\s)(\pL)|]+}
     */
    regExp() {
      return /{{fullName}}|{{lastName}}|{{firstName}}|\[=GENDER\([\w\s,à-ỹ]+\)]|\s+{[([\w\s,à-ỹ|]+}/g
      // return /{{fullName}}|{{lastName}}|{{firstName}}|\[=GENDER\([(\w)(\s)(\pL),]+\)]|\s+{[([(\w)(\s)(\pL)|]+}/g
    }
  },
  watch: {
    hashtagList(newVal, oldVal) {
      const isEqualVal = JSON.stringify(newVal) === JSON.stringify(oldVal)
      if (!isEqualVal) {
        const hashtagData = {}
        if (newVal === null) {
          hashtagData.target = ''
        } else if (oldVal === null) {
          // NOTE: Set focused hashtag node
          const hashtagTarget = this.getHashtagTargetNode(0)
          hashtagData.target = hashtagTarget.textContent
          this.focusedHashtagNode = hashtagTarget
        } else {
          if (newVal.length < oldVal.length) {
            hashtagData.target = ''
          } else {
            // NOTE: Set focused hashtag node
            const diff = this.getDiffArrayWithIndex(newVal, oldVal)
            const index =
              diff.diffValue === undefined ? newVal.length - 1 : diff.index
            const hashtagTarget = this.getHashtagTargetNode(index)
            hashtagData.target = hashtagTarget.textContent
            this.focusedHashtagNode = hashtagTarget
          }
        }
        hashtagData.hashtags = newVal
        this.$emit('onChangeHashtag', hashtagData)
      }
    }
  },
  created() {
    // NOTE: Set default option if not existence in props
    for (const key in this.defaultOption) {
      const value = this.option[key]
      if (value === undefined) {
        this.option[key] = this.defaultOption[key]
      }
    }
  },
  mounted() {
    // NOTE: Create Observer. This is called when text content of the target is changed
    const target = document.getElementById('input-true-text')
    const observer = new MutationObserver(this.onObserveElement)
    const config = {
      childList: true,
      characterData: true,
      characterDataOldValue: true,
      subtree: true
    }

    observer.observe(target, config)
    // NOTE: Display initial content if exist
    target.textContent = this.option.defaultContent
    const overlayElm = document.getElementById('input-overlay')
    overlayElm.addEventListener('click', this.onSelectHashtag, false)
  },
  beforeDestroy() {
    // const overlayElm = document.getElementById('input-overlay')
    // console.log('overlayElm', overlayElm)
    // overlayElm.removeEventListener('click', this.onSelectHashtag, false)
  },

  methods: {
    onObserveElement(mutations) {
      mutations.forEach((mutation) => {
        const type = mutation.type
        switch (type) {
          // NOTE: The textContent will be changed in the line, this type is called.
          case 'characterData':
            this.replaceContent()
            break
          // NOTE: The line break will be occured, this type is called.
          case 'childList':
            this.replaceContent()
            break

          default:
            break
        }
      })
      // NOTE: Show / hide placeholder.
      const target = document.getElementById('input-true-text')
      this.shouldShowPlaceholder =
        target.innerHTML === '' || target.innerHTML === '<br>'
    },
    replaceContent() {
      const target = document.getElementById('input-true-text')
      // NOTE: Need to convert html character with escapecharacter
      // console.log('target.textContent', target.textContent)
      // const content = this.escapeHtml(target.textContent)
      // console.log('content', content)
      // const contentHTML = target.textContent
      // NOTE: Trim line break \n
      const spaceExp = /^\n\n/gm
      const content2 = target.textContent.replace(spaceExp, function(match) {
        return '\n'
      })
      // NOTE: Create new text for hashtag highlight to insert element
      //       If debugging on chrome, use content2 above, otherwise
      //       line break point will be failed.
      const srcContent = this.isSafariBrowser ? content : content2
      const self = this
      const replaceContent = srcContent.replace(this.regExp, (match) => {
        const idStr = ' id=' + self.getUniqueStr()
        const style = self.getStyle(match)
        const result = '<i ' + style + idStr + '>' + match + '</i>'
        return result
      })
      // NOTE: Apply content into overlay field.
      const insertNode = document.getElementById('input-overlay')
      insertNode.innerHTML = replaceContent
      this.$emit('onChangeValue', srcContent)
      // this.hashtagList = this.getHashtagList(content)
    },
    getStyle(match) {
      const { option } = this
      let regexType = null
      const regExpElement = /{{fullName}}|{{lastName}}|{{firstName}}/g
      const regExpGender = /\[=GENDER\([\w\s,à-ỹ]+\)]/g
      const regExpSpin = /\s+{[([\w\s,à-ỹ|]+}/g
      if (regExpElement.test(match)) regexType = 'element'
      else if (
        regExpGender.test(match.toString().trim()) ||
        regExpSpin.test(match.toString())
      )
        regexType = 'gender'
      let style = 'style="'
      if (regexType) {
        const t = option.listHasTag.find((t) => t.regexType.includes(regexType))
        if (t) {
          style += 'color:' + t.color + ';'
          style += 'background:' + t.background + ';'
          if (!option.isEditMode) {
            style += 'cursor: default;'
          }
        }
      }
      style += '"'
      return style
    },
    escapeHtml(content) {
      const escapeHashMap = {
        '&': '&amp;',
        '"': '&quot;',
        '<': '&lt;',
        '>': '&gt;'
      }
      return content.replace(/[&"<>]/g, function(match) {
        return escapeHashMap[match]
      })
    },
    getHashtagList(value) {
      const result = value.match(this.regExp)
      return result
    },
    getHashtagNodeList() {
      console.log('getHashtagNodeList', getHashtagNodeList)
      const target = document.getElementById('input-overlay')
      const nodes = []
      const childNodes = target.childNodes
      childNodes.forEach((child) => {
        nodes.push(child)
      })
      return nodes
    },
    getDiffArrayWithIndex(newVal, oldVal) {
      const result = {}

      for (let i = 0; i < newVal.length; i++) {
        if (oldVal.indexOf(newVal[i]) === -1) {
          result.diffValue = newVal[i]
          result.index = i
          break
        }
      }
      return result
    },
    onSelectHashtag(e) {
      const target = e.target
      const tagName = target.tagName
      if (tagName === 'I') {
        // const content = target.textContent
        this.$emit('onSelectHashtag', target)
      }
    },
    replaceHashtagNodeContent(newValue) {
      console.log('replaceHashtagNodeContent', newValue)
      this.focusedHashtagNode.textContent = newValue
      const trueTarget = document.getElementById('input-true-text')
      const overlayTarget = document.getElementById('input-overlay')
      trueTarget.textContent = newValue
      overlayTarget.textContent = newValue
      this.replaceContent()
    },
    getUniqueStr() {
      const strong = 1000
      return (
        new Date().getTime().toString(16) +
        Math.floor(strong * Math.random()).toString(16)
      )
    },
    getHashtagTargetNode(index) {
      console.log('index', index)
      const target = document.getElementById('input-overlay')
      const nodes = target.childNodes
      let count = 0
      let hashtagTarget = {}
      for (let i = 0; i < nodes.length; i++) {
        const node = nodes[i]
        if (node.tagName === 'I') {
          if (index === count) {
            hashtagTarget = node
            break
          }
          count++
        }
      }
      return hashtagTarget
    }
  }
}
</script>
