<template>
  <div class="navbar-component d-flex justify-between">
    <ul class="ul-menu">
      <li v-for="(menu,index) in listMenu" :key="index">
        <nuxt-link :to="menu.href">{{menu.name}}</nuxt-link>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <div class="_f_packge">
        <el-dropdown class="account-menu" trigger="click">
          <div class="title-pack">Gói Cước 1 Năm</div>
          <el-dropdown-menu slot="dropdown">
            <a href="tel:0971533898" class="hotline">
              <el-dropdown-item icon="el-icon-phone">Hotline: 0971.533.898</el-dropdown-item>
            </a>
            <nuxt-link to="/account" tag="span">
              <el-dropdown-item icon="el-icon-user" divided>Hồ sơ cá nhân</el-dropdown-item>
            </nuxt-link>
            <el-dropdown-item icon="fas fa-sign-out-alt" divided @click.native="logout()">Đăng xuất</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="_f_profile">
        <el-dropdown class="account-menu" trigger="click">
          <span class="el-dropdown-link cursor-point">
            <img class="avatar" :src="avatar" alt />
          </span>
          <el-dropdown-menu slot="dropdown">
            <nuxt-link to="/manage" tag="span" v-if="user.isAdmin">
              <el-dropdown-item icon="el-icon-user">Quản trị</el-dropdown-item>
            </nuxt-link>
            <el-dropdown-item
              icon="fas fa-sign-out-alt"
              :divided="user.isAdmin"
              @click.native="logout()"
            >Đăng xuất</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations, mapState } from 'vuex'
export default {
  data() {
    return {
      listMenu: [
        {
          name: 'Trang chủ',
          href: '/'
        },
        {
          name: 'Phần mềm',
          href: '/'
        },
        {
          name: 'Quy định',
          href: '/'
        },
        {
          name: 'Hỗ trợ',
          href: '/'
        },
        {
          name: 'Liên hệ',
          href: '/'
        }
      ]
    }
  },
  computed: {
    ...mapState(['sidebar'], { root: true }),
    avatar() {
      if (!this.user.avatar) return '/images/avatar-static.jpg'
      return this.user.avatar
    }
  },
  methods: {
    ...mapMutations(['SET_SIDE_BAR_COLLAPPSE'], { root: true }),
    logout() {
      this.$auth.logout()
      this.$auth.setToken('local', null)
      window.location.href = '/'
    }
  }
}
</script>
<style scope lang="scss">
.navbar-component {
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 100%;
  .ul-menu {
    padding: 0px;
    list-style: none;
    display: flex;
    li {
      a {
        color: #191935;
        padding-right: 40px;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .avatar {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }
  ._f_packge {
    .title-pack {
      font-weight: bold;
      border-radius: 3px;
      margin-right: 40px;
      padding: 7px 14px;
      color: #f14e4b;
      background-color: #fff2f8;
    }
  }
}
</style>
