<template>
  <div class="text-center mt-5 d-flex justify-between">
    <div>
      <span style="color:#141436;" class="fs-14">Show</span>
      <el-select
        :value="pagination.limit"
        style="width:80px;"
        @change="$emit('currentChange', {type: 'limit', value: $event})"
      >
        <el-option v-for="(item, i) in limits" :key="i" :label="item" :value="item"></el-option>
      </el-select>
    </div>

    <el-pagination
      background
      @current-change="$emit('currentChange', {type: 'page', value: $event})"
      layout="prev, pager, next"
      :page-size="pagination.limit"
      :current-page="pagination.page"
      :total="pagination.total"
    ></el-pagination>
  </div>
</template>

<script>
export default {
  props: {
    pagination: {
      type: Object,
      required: true
    },
    limits: {
      type: Array,
      default: () => [10, 20, 50, 100]
    }
  },
  methods: {
    handleCurrentChange(val) {
      this.$emit('current-change', val)
    }
  }
}
</script>

<style lang="scss" >
.position {
  margin-top: 10px;
  padding-right: 0px;
}
</style>
