<template>
  <div class="bg-white sidebar-component">
    <div class="_f_home" ref="_f_home">
      <nuxt-link to="/" class="image-components">
        <!-- <i class="fas fa-home"></i> -->
        <img src="/images/logo.png" alt="logo" />
      </nuxt-link>
    </div>
    <!-- :style="`height:${heightNavbar}px`" -->
    <el-scrollbar wrap-class="scrollbar-wrapper sidebar" style="height: 100vh;">
      <el-menu
        :collapse-transition="false"
        :collapse="sidebar.isCollapse"
        class="el-menu-vertical-demo menu"
        unique-opened
        background-color="#F14E4B"
        text-color="#fff"
        active-text-color="#fff"
        router
      >
        <template v-for="(m, index) in menu.mainMenu">
          <div :key="index">
            <div v-if="m.isGroup" class="is-group">{{m.name}}</div>
            <div v-else>
              <el-submenu v-if="m.childs" :key="m.name" :index="index.toString()">
                <template slot="title">
                  <i class="menu-icon fs-16" :class="m.icon"></i>
                  <span class="ml-2">{{ m.name }}</span>
                </template>
                <el-menu-item
                  v-for="(c) in m.childs"
                  :key="c.name"
                  :index="c.link"
                  class="sub-menu-item"
                >{{ c.name }}</el-menu-item>
              </el-submenu>
              <el-menu-item v-else :key="m.name" :index="m.link">
                <!-- <div v-html="m.icon"></div> -->
                <!-- <i v-html="m.icon"></i> -->
                <img :src="m.icon" alt="i" class="icon-menu-item" />
                <!-- hahaha -->
                <!-- <i class="
                -icon fs-16" :class="m.icon"></i>-->
                <span slot="title" class="ml-2">{{ m.name }}</span>
              </el-menu-item>
            </div>
          </div>
        </template>
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<style>
</style>

<script>
import { mapState } from 'vuex'
import navbar from '../../utils/navbar.json'
import navbarManage from '../../utils/navbarManage.json'
export default {
  data() {
    return {
      heightNavbar: 850,
      menu: navbar,
      listLinkAdmin: [
        '/manage',
        '/manage/extension',
        '/manage/app-sms',
        '/manage/soft-sms',
        '/manage/document'
      ]
    }
  },
  computed: {
    ...mapState(['sidebar'], { root: true })
  },
  watch: {
    $route: 'getNavbar'
  },
  mounted() {
    this.getNavbar()
  },
  methods: {
    getNavbar() {
      const { path } = this.$route
      if (this.listLinkAdmin.includes(path)) {
        this.menu = navbarManage
      } else {
        this.menu = navbar
      }
    },
    async logout() {
      try {
        await this.$confirm('Bạn có chắc chắn muốn đăng xuất ?', 'Xác nhận', {
          confirmButtonText: 'Đồng ý',
          cancelButtonText: 'Hủy bỏ',
          type: 'error'
        })
        await this.$auth.logout()
      } catch (error) {}
    },
    handleResize() {
      // const heightHome = this.$refs._f_home.clientHeight
      // const heightAccount = this.$refs._f_info.clientHeight
      // this.heightNavbar = window.innerHeight - heightHome - heightAccount
    }
  }
}
</script>
<style scoped lang="scss">
.sidebar-component {
  .menu {
    height: 100vh;
    .is-group {
      opacity: 0.5;
      color: #ffffff;
      font-size: 10px;
      padding: 24px 0 8px 21px;
    }
    .icon-menu-item {
      width: 16px;
      height: 16px;
    }
  }
  ._f_home {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
