html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body,
html,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

/* Định nghĩa breadcrumb lại */
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  font-weight: bold;
  color: black;
}
/*Kết thúc breadcrumb*/

/* customer autocomplete*/
.el-autocomplete-suggestion li {
  line-height: unset;
  padding: 8px 20px;
}
/**/
/* custom css el-form elementUI*/
.el-form-item {
  margin-bottom: 10px;
}
.el-dialog__body {
  padding: 0px 20px 10px;
}
.el-form--label-top .el-form-item__label {
  padding: 0;
  line-height: unset;
}
.el-form-item__error {
  // position: unset;
  transition: 0.2s all ease;
}
/* Kết thúc custom el-form elementUI*/

/* custom dialog*/
.el-dialog__header .el-dialog__title {
  font-weight: bold;
}
/* end custom dialog */
.el-table th > .cell {
  word-break: initial;
}

.el-table th {
  background-color: #fff;
}
*,
*:before,
*:after {
  // box-sizing: border-box;
  // margin: 0;
  box-sizing: border-box;
  margin: 0;
  word-break: break-word;
  outline: none;
}
.btn-create {
  button {
    height: 48px;
  }
}
.cursor-point {
  cursor: pointer;
}

.bg-input {
  background-color: #f9f9f9;
}
.bg-dark {
  background-color: rgb(29, 54, 76);
}
.bg-white {
  background-color: #fff;
}
.bg-red {
  background-color: red;
}
.bg-gray {
  background-color: gray;
}
.cl-dark {
  color: rgb(29, 54, 76);
}
.cl-white {
  color: #fff;
}
.cl-black {
  color: #000;
}
.cl-blue {
  color: #009cde;
}
.cl-gray {
  // color: #253b45;
  // opacity: 0.55;
  color: gray;
}
.cl-orange {
  color: #ed6307;
}
.cl-green {
  color: green;
}
.cl-red {
  color: red;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}

.font-weight-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.wh-full {
  width: 100%;
  height: 100%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.m-0 {
  margin: 0px;
}
.m-1 {
  margin: 2px;
}
.m-2 {
  margin: 4px;
}
.m-3 {
  margin: 6px;
}
.m-4 {
  margin: 8px;
}
.m-5 {
  margin: 10px;
}
.m-6 {
  margin: 12px;
}
.m-7 {
  margin: 14px;
}
.m-8 {
  margin: 16px;
}
.m-9 {
  margin: 18px;
}
.m-10 {
  margin: 20px;
}
.mtb-0 {
  margin: 0;
}
.mtb-1 {
  margin: 2px 0;
}
.mtb-2 {
  margin: 4px 0;
}
.mtb-3 {
  margin: 6px 0;
}
.mtb-4 {
  margin: 8px 0;
}
.mtb-5 {
  margin: 10px 0;
}
.mtb-6 {
  margin: 12px 0;
}
.mtb-7 {
  margin: 14px 0;
}
.mtb-8 {
  margin: 16px 0;
}
.mtb-9 {
  margin: 18px 0;
}
.mtb-10 {
  margin: 20px 0;
}
.mlr-1 {
  margin: 0 2px;
}
.mlr-2 {
  margin: 0 4px;
}
.mlr-3 {
  margin: 0 6px;
}
.mlr-4 {
  margin: 0 8px;
}
.mlr-5 {
  margin: 0 10px;
}
.mlr-6 {
  margin: 0 12px;
}
.mlr-7 {
  margin: 0 14px;
}
.mlr-8 {
  margin: 0 16px;
}
.mlr-9 {
  margin: 0 18px;
}
.mlr-10 {
  margin: 0 20px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 2px;
}
.mr-2 {
  margin-right: 4px;
}
.mr-3 {
  margin-right: 6px;
}
.mr-4 {
  margin-right: 8px;
}
.mr-5 {
  margin-right: 10px;
}
.mr-6 {
  margin-right: 12px;
}
.mr-7 {
  margin-right: 14px;
}
.mr-8 {
  margin-right: 16px;
}
.mr-9 {
  margin-right: 18px;
}
.mr-10 {
  margin-right: 20px;
}
.ml-1 {
  margin-left: 2px;
}
.ml-2 {
  margin-left: 4px;
}
.ml-3 {
  margin-left: 6px;
}
.ml-4 {
  margin-left: 8px;
}
.ml-5 {
  margin-left: 10px;
}
.ml-6 {
  margin-left: 12px;
}
.ml-7 {
  margin-left: 14px;
}
.ml-8 {
  margin-left: 16px;
}
.ml-9 {
  margin-left: 18px;
}
.ml-10 {
  margin-left: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 2px;
}
.mt-2 {
  margin-top: 4px;
}
.mt-3 {
  margin-top: 6px;
}
.mt-4 {
  margin-top: 8px;
}
.mt-5 {
  margin-top: 10px;
}
.mt-6 {
  margin-top: 12px;
}
.mt-7 {
  margin-top: 14px;
}
.mt-8 {
  margin-top: 16px;
}
.mt-9 {
  margin-top: 18px;
}
.mt-10 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 2px;
}
.mb-2 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 6px;
}
.mb-4 {
  margin-bottom: 8px;
}
.mb-5 {
  margin-bottom: 10px;
}
.mb-6 {
  margin-bottom: 12px;
}
.mb-7 {
  margin-bottom: 14px;
}
.mb-8 {
  margin-bottom: 16px;
}
.mb-9 {
  margin-bottom: 18px;
}
.mb-10 {
  margin-bottom: 20px;
}
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 2px;
}
.p-2 {
  padding: 4px;
}
.p-3 {
  padding: 6px;
}
.p-4 {
  padding: 8px;
}
.p-5 {
  padding: 10px;
}
.p-6 {
  padding: 12px;
}
.p-7 {
  padding: 14px;
}
.p-8 {
  padding: 16px;
}
.p-9 {
  padding: 18px;
}
.p-10 {
  padding: 20px;
}
.ptb-1 {
  padding: 2px 0;
}
.ptb-2 {
  padding: 4px 0;
}
.ptb-3 {
  padding: 6px 0;
}
.ptb-4 {
  padding: 8px 0;
}
.ptb-5 {
  padding: 10px 0;
}
.ptb-6 {
  padding: 12px 0;
}
.ptb-7 {
  padding: 14px 0;
}
.ptb-8 {
  padding: 16px 0;
}
.ptb-9 {
  padding: 18px 0;
}
.ptb-10 {
  padding: 20px 0;
}
.plr-1 {
  padding: 0 2px;
}
.plr-2 {
  padding: 0 4px;
}
.plr-3 {
  padding: 0 6px;
}
.plr-4 {
  padding: 0 8px;
}
.plr-5 {
  padding: 0 10px;
}
.plr-6 {
  padding: 0 12px;
}
.plr-7 {
  padding: 0 14px;
}
.plr-8 {
  padding: 0 16px;
}
.plr-9 {
  padding: 0 18px;
}
.plr-10 {
  padding: 0 20px;
}
.pr-1 {
  padding-right: 2px;
}
.pr-2 {
  padding-right: 4px;
}
.pr-3 {
  padding-right: 6px;
}
.pr-4 {
  padding-right: 8px;
}
.pr-5 {
  padding-right: 10px;
}
.pr-6 {
  padding-right: 12px;
}
.pr-7 {
  padding-right: 14px;
}
.pr-8 {
  padding-right: 16px;
}
.pr-9 {
  padding-right: 18px;
}
.pr-10 {
  padding-right: 20px;
}
.pl-1 {
  padding-left: 2px;
}
.pl-2 {
  padding-left: 4px;
}
.pl-3 {
  padding-left: 6px;
}
.pl-4 {
  padding-left: 8px;
}
.pl-5 {
  padding-left: 10px;
}
.pl-6 {
  padding-left: 12px;
}
.pl-7 {
  padding-left: 14px;
}
.pl-8 {
  padding-left: 16px;
}
.pl-9 {
  padding-left: 18px;
}
.pl-10 {
  padding-left: 20px;
}
.pt-1 {
  padding-top: 2px;
}
.pt-2 {
  padding-top: 4px;
}
.pt-3 {
  padding-top: 6px;
}
.pt-4 {
  padding-top: 8px;
}
.pt-5 {
  padding-top: 10px;
}
.pt-6 {
  padding-top: 12px;
}
.pt-7 {
  padding-top: 14px;
}
.pt-8 {
  padding-top: 16px;
}
.pt-9 {
  padding-top: 18px;
}
.pt-10 {
  padding-top: 20px;
}
.pb-1 {
  padding-bottom: 2px;
}
.pb-2 {
  padding-bottom: 4px;
}
.pb-3 {
  padding-bottom: 6px;
}
.pb-4 {
  padding-bottom: 8px;
}
.pb-5 {
  padding-bottom: 10px;
}
.pb-6 {
  padding-bottom: 12px;
}
.pb-7 {
  padding-bottom: 14px;
}
.pb-8 {
  padding-bottom: 16px;
}
.pb-9 {
  padding-bottom: 18px;
}
.pb-10 {
  padding-bottom: 20px;
}

.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
}

.flex.middle {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}
