
/* Định nghĩa lại css .sidebar-component*/
.sidebar-component .el-menu-item,
.el-submenu__title {
  height: 40px;
  line-height: 40px;
  padding-left: 21px !important;
  font-size: 14px;
}
.sidebar-component .el-menu-item:hover,
.sidebar-component .el-menu-item.is-active {
  transition: 0.2s all ease;
  background-color: #ffffff24 !important;
  border-right: 4px solid #fff;
}
// .sidebar-component .el-menu-item:hover .Combined-Shape,
// .sidebar-component .el-menu-item.is-active .Combined-Shape {
//   transition: 0.3s all ease;
//   fill: rgb(239, 59, 55);
// }
.sidebar-component .el-tooltip {
  padding: 0 16px !important;
}
.sidebar-component .el-scrollbar__wrap {
  overflow: auto;
  width: 100%;
}
/* Kết thúc định nghĩa lại css .sidebar-component*/
