<template>
  <div class="wh-full">
    <el-container style="height:100%">
      <el-aside class="side-bar" :style="`width: ${sidebar.width}px`">
        <SideBar />
      </el-aside>

      <el-container :style="`margin-left:${sidebar.width}px;transition: all 0.3s ease;`">
        <el-header class="bg-white p-0">
<!--          <NavBar />-->
        </el-header>
        <el-main class="main">
          <nuxt />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import SideBar from '@/components/UI/SideBar'
// import NavBar from '@/components/UI/NavBar'
import socket from '@/plugins/socket.io.js'

export default {
  // middleware: ['auth'],
  components: { SideBar },

  data() {
    return {}
  },
  computed: {
    ...mapState(['sidebar'], { root: true })
  },
  mounted() {
    socket.emit('JOIN_ROOM', this.getToken())
  },
  methods: {
    getToken() {
      const { _state } = this.$auth.$storage
      return { token: _state['_token.local'] }
    }
  }
}
</script>
<style lang="scss" scoped>
.side-bar {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}
.el-header {
  height: 48px !important;
  // border-bottom: 1px solid #e6e6e6;
}

.el-aside {
  overflow: unset;
  // border-right: solid 1px #e6e6e6;
  background-color: #fff;
  transition: all 0.3s ease;
}
.main {
  padding: 16px 20px;
  background-color: #f9f9fb;
  &::-webkit-scrollbar {
    width: 0px;
  }
  // /* Track */
  // &::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  //   border-radius: 10px;
  // }
  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background: rgba(208, 216, 222, 0.6902);
  //   border-radius: 10px;
  // }
  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #9e9e9e;
  // }
}
</style>
