<template>
  <div class="quillWrapper">
    <!-- <div class="mb-5">
      <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
        <Breadcrumb />
      </div>
    </div>-->
    <div class="ql-container ql-snow" id="quill-container">
      <div v-if="!selectEditor._id || !selectEditor.content">Chưa cập nhật</div>
      <div v-else v-html="selectEditor.content" class="ql-editor"></div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
// import Breadcrumb from '@/components/UI/Breadcrumb'
export default {
  // components: { Breadcrumb },
  async asyncData({ route, store, params, query, redirect }) {
    const listParam = ['extension', 'app-sms', 'soft-sms', 'document']
    if (!listParam.includes(params.slug)) redirect('/')
    await store.dispatch('editor/getEditor', { slug: params.slug })
  },
  computed: {
    ...mapState('editor', ['selectEditor'])
  }
}
</script>
<style src="quill/dist/quill.snow.css"></style>
<style lang="scss" scoped>
.ql-container.ql-snow {
  border: none !important;
}
.ql-editor {
  padding: 0 !important;
}
</style>
