<template>
  <div class="component-login">
    <el-card class="box-card">
      <div class="title">Truy cập hệ thống</div>
      <el-form
        :model="form"
        size="medium"
        ref="form"
        class="demo-ruleForm form mt-10"
        :rules="rules"
      >
        <el-form-item prop="email">
          <el-input v-model="form.email" placeholder="E-mail của bạn" prefix-icon="far fa-envelope"></el-input>
        </el-form-item>
        <el-form-item prop="password" class="mt-10">
          <el-input
            v-model="form.password"
            show-password
            placeholder="Mật khẩu"
            prefix-icon="fas fa-key"
          ></el-input>
        </el-form-item>
        <el-form-item class="text-right mt-10">
          <el-button
            type="primary"
            @click="login('form')"
            :loading="loading.login"
            class="w-full"
          >Đăng nhập</el-button>
        </el-form-item>
      </el-form>
      <div class="fs-12 mt-10 text-center">
        <span class="cl-gray">Quên</span>
        <nuxt-link to="/register">mật khẩu</nuxt-link>
      </div>
      <div class="fs-12 mt-5 text-center">
        <span class="cl-gray">Tạo tài khoản ngay ?</span>
        <nuxt-link to="/register">Đăng ký</nuxt-link>
      </div>
    </el-card>
  </div>
</template>
<script>
export default {
  layout: 'login',
  data() {
    return {
      loading: {
        login: false
      },
      form: {
        email: '',
        password: ''
      },
      rules: {
        email: [
          {
            required: true,
            message: 'Vui lòng nhập E-mail',
            trigger: ['blur', 'change']
          },
          {
            type: 'email',
            message: 'E-mail chưa đúng định dạng.',
            trigger: ['blur']
          }
        ],
        password: [
          {
            required: true,
            message: 'Vui lòng nhập mật khẩu',
            trigger: ['blur', 'change']
          }
          // {
          //   validator: (rule, value, cb) => {
          //     if (value !== '') {
          //       if (value.length < 6 || value.length > 16) {
          //         return cb(
          //           new Error('Mật khẩu tối thiểu 6 kí tự và tối đa 16 kí tự.')
          //         )
          //       }
          //       const regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/
          //       if (!regex.test(value)) {
          //         return cb(
          //           new Error(
          //             'Mật khẩu chứa ít nhất 1 số và 1 kí tự đặc biệt(!@#$%^&*).'
          //           )
          //         )
          //       }
          //     }
          //     cb()
          //   },
          //   trigger: ['blur','change']
          // }
        ]
      }
    }
  },
  methods: {
    async login(formName) {
      this.loading.login = true
      try {
        await this.$refs[formName].validate()
        await this.$auth.loginWith('local', { data: this.form })
        this.$router.push('/')
      } catch (error) {}
      this.loading.login = false
    }
  }
}
</script>
<style lang="scss" scoped>
.component-login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box-card {
    width: 600px;
    .title {
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
    .form {
      width: 100%;
    }
  }
}
</style>
