<template>
  <div class="component-register">
    <el-card class="box-card">
      <div class="title">Đăng ký tài khoản</div>
      <el-form :model="form" ref="form" class="demo-ruleForm form" :rules="rules">
        <el-form-item prop="name" label="Họ & Tên">
          <el-input v-model="form.name" placeholder="Họ & Tên"></el-input>
        </el-form-item>
        <el-form-item prop="email" label="Email">
          <el-input v-model="form.email" placeholder="Email"></el-input>
        </el-form-item>
        <el-form-item prop="password" label="Mật khẩu">
          <el-input v-model="form.password" show-password placeholder="Mật khẩu"></el-input>
        </el-form-item>
        <el-form-item prop="confirmPassword" label="Xác nhận mật khẩu">
          <el-input v-model="form.confirmPassword" show-password placeholder="Mật khẩu"></el-input>
        </el-form-item>
        <el-form-item class="text-right mt-10">
          <el-button
            type="primary"
            @click="submitForm('form')"
            :loading="loading.register"
            class="w-full"
          >Đăng ký</el-button>
        </el-form-item>
      </el-form>
      <div class="fs-12 mt-10">
        <span>Bạn đã có tài khoản ?</span>
        <nuxt-link to="/login">Đăng nhập</nuxt-link>
      </div>
    </el-card>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  layout: 'login',
  data() {
    return {
      loading: {
        register: false
      },
      form: {
        name: '',
        email: '',
        password: '',
        confirmPassword: ''
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Vui lòng nhập họ & tên',
            trigger: ['blur', 'change']
          }
        ],
        email: [
          {
            required: true,
            message: 'Vui lòng nhập E-mail',
            trigger: ['blur', 'change']
          },
          {
            type: 'email',
            message: 'E-mail chưa đúng định dạng.',
            trigger: ['blur']
          }
        ],
        password: [
          {
            required: true,
            message: 'Vui lòng nhập mật khẩu',
            trigger: ['blur', 'change']
          },
          {
            validator: (rule, value, cb) => {
              if (value !== '') {
                if (value.length < 6 || value.length > 16) {
                  return cb(
                    new Error('Mật khẩu tối thiểu 6 kí tự và tối đa 16 kí tự.')
                  )
                }
                const regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/
                if (!regex.test(value)) {
                  return cb(
                    new Error(
                      'Mật khẩu chứa ít nhất 1 số và 1 kí tự đặc biệt(!@#$%^&*).'
                    )
                  )
                }
              }
              cb()
            },
            trigger: ['blur']
          }
        ],
        confirmPassword: [
          {
            validator: (rule, value, cb) => {
              if (this.form.password !== value) {
                return cb(new Error('Mật khẩu không khớp'))
              }
              cb()
            },
            trigger: ['blur']
          }
        ]
      }
    }
  },
  methods: {
    ...mapActions('user', ['register']),
    async submitForm(formName) {
      this.loading.register = true
      try {
        await this.$refs[formName].validate()
        const { isSuccess } = await this.register({ data: this.form })
        if (isSuccess) {
          this.$message.success('Tạo tài khoản thành công.')
          this.$router.push('/login')
        }
      } catch (error) {}
      this.loading.register = false
    }
  }
}
</script>
<style lang="scss" scoped>
.component-register {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box-card {
    width: 600px;
    .title {
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
    .form {
      width: 100%;
    }
  }
}
</style>
