<template>
  <div class="mb-5">
    <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
      <Breadcrumb />
    </div>
    <el-card :body-style="{ padding: '10px' }" shadow="hover">
      <div class="table">
        <el-table :data="tableData" style="width: 100%">
          <el-table-column label-class-name="fs-12" width="50">
            <template slot-scope="scope">
              <img
                :src="scope.row.isActive ? '/images/icon/check.svg' : '/images/icon/false.svg'"
                alt="check"
              />
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="THỜI GIAN TẠO/GỬI" width="192">
            <template slot-scope="scope">
              <div>
                <i class="el-icon-s-promotion"></i>
                {{ scope.row.createdAt | renderDateTime('dd/MM/Y, h:mm:ss')}}
              </div>
              <div class="fs-12 cl-gray">
                <i class="fas fa-pen-alt fs-12"></i>
                {{ scope.row.timeSent | renderDateTime('dd/MM/Y, h:mm:ss')}}
              </div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="TÊN CHIẾN DỊCH" width="282">
            <template slot-scope="scope">
              <div class="font-weight-bold" @click="dialog.detail = true">{{ scope.row.name}}</div>
              <div class="cl-gray fs-12">{{ scope.row.description}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="SMS" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{ scope.row.sms | toLocaleString}}</div>
              <div class="cl-gray fs-12">{{ scope.row.smsSent | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="LỖI" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{ Math.round(scope.row.fail/scope.row.sms*100)}}%</div>
              <div class="cl-gray fs-12">{{ scope.row.fail | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="ĐÃ GỬI" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{ Math.round(scope.row.sent/scope.row.sms*100)}}%</div>
              <div class="cl-gray fs-12">{{ scope.row.sent | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="ĐÃ ĐỌC" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{ Math.round(scope.row.read/scope.row.sms*100)}}%</div>
              <div class="cl-gray fs-12">{{ scope.row.read | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="CLICK" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{ Math.round(scope.row.click/scope.row.sms*100)}}%</div>
              <div class="cl-gray fs-12">{{ scope.row.click | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" align="right" width="136">
            <template slot-scope="scope">
              <BtnEdit
                @click="handleEdit({row:scope.row, index: scope.$index})"
                image="/images/icon/select.svg"
                text="..."
              />
              <BtnEdit
                @click="handleEdit({row:scope.row, index: scope.$index})"
                image="/images/icon/edit.svg"
                text="Sửa"
              />
              <BtnEdit
                @click="handleEdit({row:scope.row, index: scope.$index})"
                image="/images/icon/remove.svg"
                text="Xóa"
              />
            </template>
          </el-table-column>
        </el-table>
        <Pagination :pagination="pagination" />
      </div>
    </el-card>
    <el-dialog
      title="Thêm Mẫu Trả Lời Mới"
      :visible.sync="dialog.detail"
      width="982px"
      @close="dialog.detail=false"
      :close-on-click-modal="false"
    >
      <Detail v-if="dialog.detail" @close="dialog.detail = false" />
      <div slot="title" class="el-dialog__title fs-24">Chiến dịch quần áo mùa hè</div>
    </el-dialog>
  </div>
</template>
<script>
import Detail from '@/components/Report/Detail'
import Breadcrumb from '@/components/UI/Breadcrumb'
import BtnEdit from '@/components/UI/ButtonTable/BtnEdit'
import Pagination from '@/components/UI/Pagination'
export default {
  components: {
    Detail,
    Breadcrumb,
    BtnEdit,
    Pagination
  },
  data() {
    return {
      dialog: {
        detail: false
      },
      pagination: {
        limit: 10,
        page: 1,
        total: 10
      },
      tableData: [
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        },
        {
          createdAt: new Date(),
          timeSent: new Date(),
          name: 'Chiến dịch quần áo mùa hè',
          description: 'Cảm ơn anh/ chị đa quan tâm đến sản phẩm ...',
          sms: 5001,
          smsSent: 2300,
          fail: 150,
          sent: 2150,
          read: 800,
          click: 200,
          isActive: true
        }
      ]
    }
  },
  methods: {
    handleEdit({ row, index }) {}
  }
}
</script>
<style lang="scss" scoped>
</style>
