<template>
  <div class="mb-5">
    <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
      <Breadcrumb />
      <div>
        <BtnCreate
          type="danger"
          background="#F14E4B"
          size="medium"
          text="Thêm Mẫu Mới"
          class="btn-create"
          image="/images/icon/add.svg"
          @click="dialog.add = true"
        />
      </div>
    </div>
    <el-card :body-style="{ padding: '10px' }" shadow="hover">
      <div class="table">
        <ElTableDraggable @drop="handleUpdateOrderLevel" handle=".handle">
          <el-table :data="listSampleMessage" style="width: 100%">
            <el-table-column label-class-name="fs-12" label="STT" width="50" type="index"></el-table-column>
            <el-table-column label-class-name="fs-12" label="TIÊU ĐỀ" width="220">
              <template slot-scope="scope">
                <div class="font-weight-bold">{{ scope.row.title}}</div>
              </template>
            </el-table-column>
            <el-table-column label-class-name="fs-12" label="NỘI DUNG">
              <template slot-scope="scope">{{ scope.row.content}}</template>
            </el-table-column>
            <el-table-column label-class-name="fs-12" label="KÍCH HOẠT" width="100">
              <template slot-scope="scope">
                <img
                  :src="scope.row.isActive ? '/images/icon/check.svg' : '/images/icon/false.svg'"
                  alt
                />
              </template>
            </el-table-column>
            <el-table-column label-class-name="fs-12" align="right" width="136">
              <template slot-scope="scope">
                <BtnEdit
                  class="handle"
                  @click="handleEdit({row:scope.row, index: scope.$index})"
                  image="/images/icon/move.svg"
                  text="Vị trí"
                />
                <BtnEdit
                  @click="handleEdit({row:scope.row, index: scope.$index})"
                  image="/images/icon/edit.svg"
                  text="Sửa"
                />
                <BtnEdit
                  @click="handleDelete({row:scope.row, index: scope.$index})"
                  image="/images/icon/remove.svg"
                  text="Xóa"
                />
              </template>
            </el-table-column>
          </el-table>
        </ElTableDraggable>
        <Pagination :pagination="pagination" @currentChange="handleChangePage" />
      </div>
    </el-card>
    <el-dialog
      title="Thêm Mẫu Trả Lời Mới"
      :visible.sync="dialog.add"
      width="600px"
      @close="dialog.add=false"
      :close-on-click-modal="false"
    >
      <AddSampleMessage v-if="dialog.add" @close="dialog.add = false" />
      <div slot="title" class="el-dialog__title fs-24">Thêm Mẫu Trả Lời Mới</div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import cloneDeep from 'lodash/cloneDeep'
import AddSampleMessage from '@/components/SampleMessage/AddSampleMessage'
import Breadcrumb from '@/components/UI/Breadcrumb'
import BtnCreate from '@/components/UI/Button/BtnCreate'
import BtnEdit from '@/components/UI/ButtonTable/BtnEdit'
import Pagination from '@/components/UI/Pagination'
import ElTableDraggable from '@/components/UI/SortElTable'
export default {
  components: {
    AddSampleMessage,
    Breadcrumb,
    BtnCreate,
    BtnEdit,
    Pagination,
    ElTableDraggable
  },
  async asyncData({ store }) {
    await store.dispatch('sampleMessage/getListSampleMessage', { page: 1 })
  },
  data() {
    return {
      loading: {
        table: false
      },
      dialog: {
        add: false
      },
      filter: {
        page: 1
      }
    }
  },
  computed: {
    ...mapState('sampleMessage', {
      listSampleMessage: (state) => {
        return cloneDeep(state.listSampleMessage)
      },
      pagination: (state) => state.pagination
    })
  },
  watch: {
    'dialog.add'(val) {
      if (!val) this.SELECT_SAMPLE_MESSAGE({})
    }
  },
  methods: {
    handleEdit({ row, index }) {
      this.SELECT_SAMPLE_MESSAGE(row)
      this.dialog.add = true
    },
    ...mapActions('sampleMessage', [
      'getListSampleMessage',
      'deleteSampleMessage',
      'updateSampleMessage',
      'updatePos'
    ]),
    ...mapMutations('sampleMessage', [
      'SELECT_SAMPLE_MESSAGE',
      'SET_PAGINATION'
    ]),
    handleChangePage({ type, value }) {
      this.filter[type] = value
      this.SET_PAGINATION({ [type]: value })
      this.loadDataTable(type)
    },
    async loadDataTable(type) {
      this.loading.table = true
      try {
        if (type !== 'page') this.filter.page = 1
        await this.getListSampleMessage(this.filter)
      } catch (error) {}
      this.loading.table = false
    },
    async handleDelete({ row, index }) {
      try {
        await this.$confirm(
          `Bạn có chắc muốn xóa tệp <span class="font-weight-bold">${row.title}</span>`,
          {
            title: 'Thông báo',
            dangerouslyUseHTMLString: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy',
            type: 'warning'
          }
        )
        const { isSuccess } = await this.deleteSampleMessage({ id: row._id })
        if (isSuccess) this.$message.success('Xóa thành công')
      } catch (error) {}
    },
    async handleUpdateOrderLevel(event) {
      const { targetObject, newIndex, oldIndex } = event
      if (newIndex === oldIndex) return true
      const { pagination } = this
      const pos = (pagination.page - 1) * pagination.limit + newIndex
      await this.updatePos({ id: targetObject._id, data: { pos } })
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
