<template>
  <div class="mb-5">
    <div class="mb-8">
      <div class="breadcrumb fs-12">
        <nuxt-link to="/customer" class="link">Tệp khách hàng</nuxt-link>
        <span>/</span>
        <span class="group">{{selectGroupCustomer.name}}</span>
      </div>
      <Breadcrumb text="Khách hàng cần chăm sóc" />
    </div>
    <el-card :body-style="{ padding: '10px' }" shadow="hover">
      <div class="table">
        <el-table :data="listCustomer" v-loading="loading.table" style="width: 100%">
          <el-table-column label-class-name="fs-12" label="#" width="50">
            <template
              slot-scope="scope"
            >{{ scope.$index + 1 + (filter.page - 1) * pagination.limit}}</template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="SỐ ĐT" width="100">
            <template slot-scope="scope">
              <div>{{ scope.row.phone | checkNull}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="TÊN KHÁCH HÀNG" width="197">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{ scope.row.name}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="FACEBOOK">
            <template slot-scope="scope">
              <div class="d-flex align-items-center">
                <img :src="scope.row.avatar" alt="avatar" class="avatar" v-if="scope.row.avatar" />
                <div class="ml-3">{{scope.row.facebook.name}}</div>
              </div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="SỐ TIN ĐÃ GỬI" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{scope.row.sms | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="TIN ĐÃ CLICK" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{scope.row.click | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="GỬI LẦN CUỐI" align="right" width="140">
            <template slot-scope="scope">
              <div
                v-if="scope.row.smsLastSent"
              >{{scope.row.smsLastSent | renderDateTime('dd/MM/Y, h:mm')}}</div>
              <div v-else>Chưa gửi</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="TRẠNG THÁI" align="right">
            <template slot-scope="scope">
              <el-switch
                :value="scope.row.isActive"
                active-color="#F14E4B"
                inactive-color="#ececec"
                @change="changeActiveCustomer({row: scope.row, index: scope.$index, val: $event})"
              ></el-switch>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" align="right" width="97">
            <template slot-scope="scope">
              <BtnEdit
                @click="handleEdit({row:scope.row, index: scope.$index})"
                image="/images/icon/edit.svg"
                text="Sửa"
              />
              <BtnEdit
                @click="handleDelete({row:scope.row, index: scope.$index})"
                image="/images/icon/remove.svg"
                text="Xóa"
              />
            </template>
          </el-table-column>
        </el-table>
        <Pagination :pagination="pagination" @currentChange="handleChangePage" />
      </div>
    </el-card>
    <el-dialog
      title="Thêm Mẫu Trả Lời Mới"
      :visible.sync="dialog.edit"
      width="600px"
      @close="dialog.edit=false"
      :close-on-click-modal="false"
    >
      <EditCustomer v-if="dialog.edit" @close="dialog.edit = false" />
      <div slot="title" class="el-dialog__title fs-24">Thông tin khách hàng</div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import EditCustomer from '@/components/Customer/EditCustomer'
import Breadcrumb from '@/components/UI/Breadcrumb'
import BtnEdit from '@/components/UI/ButtonTable/BtnEdit'
import Pagination from '@/components/UI/Pagination'
export default {
  components: {
    EditCustomer,
    Breadcrumb,
    BtnEdit,
    Pagination
  },
  async asyncData({ route, store, redirect }) {
    const { idGroup = '' } = route.params
    const regex = /^(?=[a-f\d]{24}$)(\d+[a-f]|[a-f]+\d)/i
    const idGroupCustomer = idGroup.substring(idGroup.lastIndexOf('-') + 1)
    if (idGroupCustomer.match(regex)) {
      await Promise.all([
        store.dispatch('customer/getListCustomer', {
          page: 1,
          'filter[idGroup]': idGroupCustomer
        }),
        store.dispatch('groupCustomer/getIdGroupCustomer', {
          id: idGroupCustomer
        })
      ])
    } else {
      redirect('/customer')
    }
  },
  data() {
    return {
      loading: {
        table: false
      },
      dialog: {
        edit: false
      },
      filter: {
        page: 1
      }
    }
  },
  computed: {
    ...mapState('customer', ['listCustomer', 'pagination']),
    ...mapState('groupCustomer', ['selectGroupCustomer'])
  },
  watch: {
    'dialog.edit'(val) {
      if (!val) this.SELECT_CUSTOMER({})
    }
  },
  methods: {
    handleEdit({ row, index }) {
      this.SELECT_CUSTOMER(row)
      this.dialog.edit = true
    },
    ...mapActions('customer', [
      'getListCustomer',
      'updateCustomer',
      'deleteCustomer'
    ]),
    ...mapMutations('customer', [
      'SELECT_CUSTOMER',
      'SET_PAGINATION',
      'SET_PROPERTY_ACTIVE'
    ]),
    handleChangePage({ type, value }) {
      this.filter[type] = value
      this.SET_PAGINATION({ [type]: value })
      this.loadDataTable(type)
    },
    async loadDataTable(type) {
      this.loading.table = true
      try {
        if (type !== 'page') this.filter.page = 1
        await this.getListCustomer(this.filter)
      } catch (error) {}
      this.loading.table = false
    },
    async handleDelete({ row, index }) {
      try {
        await this.$confirm(
          `Bạn có chắc muốn xóa khách hàng <span class="font-weight-bold">${row.name}</span>`,
          {
            title: 'Thông báo',
            dangerouslyUseHTMLString: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy',
            type: 'warning'
          }
        )
        const { isSuccess } = await this.deleteCustomer({ id: row._id })
        if (isSuccess) this.$message.success('Xóa thành công')
      } catch (error) {}
    },
    async changeActiveCustomer({ row, index, val }) {
      this.SET_PROPERTY_ACTIVE({ key: 'isActive', value: val, index })
      const { isSuccess } = await this.updateCustomer({
        id: row.id,
        data: { name: row.name, idGroup: row.idGroup, isActive: val }
      })
      if (isSuccess) {
        this.$message.success('Cập nhật thành công')
      } else {
        this.$message.error('Cập nhật thất bại')
        this.SET_PROPERTY_ACTIVE({ key: 'isActive', value: !val, index })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.breadcrumb {
  margin-bottom: 25px;
  .link {
    font-size: 12px;
    color: #31344d;
    text-decoration: none;
  }
  .group {
    color: #8d8f9c;
  }
}
</style>
