<template>
  <div class="mb-5" id="customer-add">
    <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
      <Breadcrumb />
    </div>
    <el-card :body-style="{ padding: '24px' }" shadow="hover" class="card">
      <el-form :model="form" :rules="rules" ref="form">
        <el-row :gutter="24">
          <el-col :lg="18">
            <div class="title">Nguồn khách hàng</div>
            <el-row class="tabs" :gutter="8">
              <el-col :lg="8" v-for="(tab, index) in listTab" :key="index">
                <div
                  class="tab-item"
                  :class="{'is-active': tab.isActive}"
                  @click="handleSelectTab(tab)"
                >
                  <div class="tab-title">{{tab.title}}</div>
                  <div class="tab-des">{{tab.description}}</div>
                  <i class="el-icon-success tab-icon"></i>
                </div>
              </el-col>
            </el-row>
            <TypeFile
              v-if="activeTab === 'file'"
              :form="form"
              @clickUpFile="$refs.uploadImage.click()"
              @upFile="upFile"
            />
            <TypeForm v-if="activeTab === 'form'" :form="form" />
            <TypeFacebook v-else-if="activeTab === 'facebook'" :form="form" />
            <!-- <TypeFile v-if="activeTab === 'file'"/> -->
          </el-col>
          <el-col :lg="6" class="group-customer">
            <div class="title">Tệp khách hàng</div>
            <el-form-item prop="idGroup">
              <el-select v-model="form.idGroup" placeholder="Chọn tệp khách hàng" class="w-full">
                <el-option
                  v-for="(group,index) in listGroupCustomer"
                  :key="index"
                  :label="group.name"
                  :value="group._id"
                ></el-option>
              </el-select>
            </el-form-item>
            <div class="add-group-customer align-items-center mt-4" @click="dialog.addGroup = true">
              <img src="/images/icon/add-red.svg" alt />
              <div class="ml-2">Thêm tệp</div>
            </div>
          </el-col>
        </el-row>
        <div class="btn-handle">
          <div class="d-flex">
            <div class="f-progress" v-if="disabledSave">
              <div class="fs-12">Tiến trình</div>
              <el-progress
                :text-inside="true"
                :stroke-width="20"
                :percentage="user.pendingUpload.progress"
                status="success"
              ></el-progress>
            </div>
            <div>
              <!-- :disabled="disabledSave" -->
              <el-button @click="handleClear('form')">Clear</el-button>
              <el-button
                type="danger"
                @click="submitForm('form')"
                :loading="loading.submit"
                :disabled="disabledSave"
              >Thêm</el-button>
            </div>
          </div>
        </div>
      </el-form>
      <input type="file" style="display: none;" ref="uploadImage" @change="onFileChange" />
    </el-card>
    <el-dialog
      title="Thêm Mẫu Trả Lời Mới"
      :visible.sync="dialog.addGroup"
      width="400px"
      @close="dialog.addGroup=false"
      :close-on-click-modal="false"
    >
      <AddGroupCustomer
        v-if="dialog.addGroup"
        @close="dialog.addGroup = false"
        @addGroup="addGroup"
      />
      <div slot="title" class="el-dialog__title fs-24">Thêm Tệp Mới</div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import AddGroupCustomer from '@/components/Customer/AddGroupCustomer'
import Breadcrumb from '@/components/UI/Breadcrumb'
import TypeFile from '@/components/Customer/Add/TypeFile'
import TypeForm from '@/components/Customer/Add/TypeForm'
import TypeFacebook from '@/components/Customer/Add/TypeFacebook'
import socket from '@/plugins/socket.io.js'
export default {
  components: {
    AddGroupCustomer,
    Breadcrumb,
    TypeFile,
    TypeForm,
    TypeFacebook
  },
  data() {
    return {
      dialog: {
        addGroup: false
      },
      activeTab: 'file',
      listTab: [
        {
          title: 'Từ file',
          description: 'Update lên 1 file excel chưa dữ liệu',
          key: 'file',
          isActive: true
        },
        {
          title: 'Từ nhập Form',
          description: 'Nhập thông tin khách hàng vào form',
          key: 'form',
          isActive: false
        },
        {
          title: 'Từ Facebook',
          description: 'Quét tất cả SĐT có trong fanpage',
          key: 'facebook',
          isActive: false
        }
      ],
      loading: {
        submit: false
      },
      form: {},
      rules: {
        idGroup: {
          required: true,
          message: 'Bạn chưa chọn đối tượng khách hàng',
          trigger: ['blur', 'change']
        }
      }
    }
  },
  computed: {
    ...mapState('groupCustomer', ['listGroupCustomer']),
    disabledSave() {
      if (this.user.pendingUpload.type) return true
      return false
    }
  },
  created() {
    this.form = this.generatorCustomer()
  },
  beforeMount() {
    socket.on('PROCESS_UPLOAD_CUSTOMER', (data) => {
      if (data.done) {
        setTimeout(() => {
          this.SET_PROPERTY_AUTH_USER({
            key: 'pendingUpload.type',
            value: null
          })
          this.$message.success('Tiến trình xử lý Upload đã hoàn thành.')
        }, 1000)
      } else {
        this.SET_PROPERTY_AUTH_USER({
          key: 'pendingUpload.type',
          value: 'excel'
        })
      }
      this.SET_PROPERTY_AUTH_USER({
        key: 'pendingUpload.progress',
        value: data.progress
      })
    })
  },
  async mounted() {
    await this.getListGroupCustomer({ page: 1, limit: 100 })
  },
  methods: {
    ...mapActions('groupCustomer', [
      'getListGroupCustomer',
      'createGroupCustomer'
    ]),
    ...mapActions('customer', ['createCustomer', 'uploadFile']),
    ...mapMutations(['SET_PROPERTY_AUTH_USER'], { root: true }),
    handleSelectTab(tab) {
      this.listTab.forEach((t) => {
        if (t.key === tab.key) {
          t.isActive = true
          this.activeTab = t.key
        } else {
          t.isActive = false
        }
      })
    },
    handleClear(formName) {
      this.form = this.generatorCustomer()
    },
    async submitForm(formName) {
      this.loading.submit = true
      try {
        await this.$refs[formName].validate()
        const { activeTab, form } = this
        let isSuccess = false
        if (activeTab === 'form') {
          const res = await this.createCustomer({ data: form })
          isSuccess = res.isSuccess
        } else if (activeTab === 'file') {
          const formData = new FormData()
          formData.append('file', form.infoUpload.file)
          formData.append('idGroup', form.idGroup)
          const res = await this.uploadFile(formData)
          isSuccess = res.isSuccess
          this.SET_PROPERTY_AUTH_USER({
            key: 'pendingUpload.type',
            value: 'excel'
          })
        } else {
          this.$message.warning('Tính năng đang phát triển')
        }
        if (isSuccess) {
          this.form = this.generatorCustomer()
          this.$message.success('Thêm khách hàngthành công.')
        }
      } catch (error) {
        this.SET_PROPERTY_AUTH_USER({
          key: 'pendingUpload.type',
          value: null
        })
      }
      this.loading.submit = false
    },
    onFileChange(e) {
      try {
        const files = e.target.files || e.dataTransfer.files
        if (!files.length) return
        this.upFile(files[0])
      } catch (err) {
        console.log('onFileChange', err)
      }
    },
    upFile(file) {
      const { form } = this
      const totalSize = file.size
      if (totalSize > 100 * 1024 * 1024)
        return this.$message.warning(
          'File quá lớn, dung lượng tối đa cho phép 100MB'
        )
      const nameFile = file.name.substring(file.name.lastIndexOf('.'))
      const valiFileType = ['.csv', '.xlsx', '.xls']
      if (!valiFileType.includes(nameFile.toLowerCase()))
        return this.$message.warning(
          `File sai định dạng, định dạng cho phép ${valiFileType.join(',')}`
        )
      form.infoUpload.file = file
      form.infoUpload.name = file.name
      try {
        // const formData = new FormData()
        // formData.append(`file`, files[0])
        // const { isSuccess, data } = await this.uploadFile(formData)
        // if (isSuccess) {
        //   ruleForm.images.splice(
        //     ruleForm.images.indexOf('loading'),
        //     1,
        //     data.url
        //   )
        // }
      } catch (error) {}
    },
    addGroup(group) {
      this.form.idGroup = group?._id
    },
    generatorCustomer() {
      return {
        idGroup: null,
        token: null,
        name: '',
        phone: '',
        gender: null,
        facebook: {
          link: '',
          name: ''
        },
        infoUpload: {
          file: null,
          name: null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#customer-add {
  .card {
    position: relative;
    min-height: calc(100vh - 130px);
    .f-progress {
      width: 200px;
      margin-right: 10px;
    }
    .btn-handle {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
    .title {
      margin-bottom: 16px;
      position: relative;
      font-size: 12px;
      padding-left: 9px;
      text-transform: uppercase;
      &:before {
        content: '';
        background-color: #f14e4b;
        height: 100%;
        width: 2px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .group-customer {
      .add-group-customer {
        display: inline-flex;
        cursor: pointer;
        color: #f14e4b;
      }
    }
    .tabs {
      margin-bottom: 24px;
      .tab-item {
        background-color: #eef0f1;
        position: relative;
        padding: 12px 16px;
        color: #6a7182;
        border-radius: 4px;
        border: 1px solid #eef0f1;
        cursor: pointer;
        .tab-title {
          font-size: 14px;
          font-weight: bold;
        }
        .tab-des {
          font-size: 12px;
        }
        .tab-icon {
          position: absolute;
          top: 8px;
          right: 8px;
          color: #fff;
          display: none;
        }
        &:hover {
          transition: 0.3s all ease;
          border: 1px solid #4b7cf2;
        }
      }
      .tab-item.is-active {
        color: #fff;
        background-color: #4b7cf2;
        transition: 0.3s all ease;
        .tab-icon {
          display: block;
        }
      }
    }
  }
}
</style>
