<template>
  <div class="mb-5">
    <div class="_f_handle d-flex justify-between w-full align-items-center mb-8">
      <Breadcrumb />
      <div>
        <BtnCreate
          type="danger"
          background="#F14E4B"
          size="medium"
          text="Thêm Tệp Mới"
          class="btn-create"
          image="/images/icon/add.svg"
          @click="dialog.add = true"
        />
      </div>
    </div>
    <el-card :body-style="{ padding: '10px' }" shadow="hover">
      <div class="table">
        <el-table :data="listGroupCustomer" v-loading="loading.table" style="width: 100%">
          <el-table-column label-class-name="fs-12" label="#" width="50">
            <template
              slot-scope="scope"
            >{{ scope.$index + 1 + (filter.page - 1) * pagination.limit}}</template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="TÊN TỆP" width="280">
            <template slot-scope="scope">
              <nuxt-link
                :to="`/customer/${scope.row.slug}-${scope.row._id}`"
                class="font-weight-bold link-detail"
              >{{ scope.row.name}}</nuxt-link>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="CẬP NHẬT" width="140">
            <template slot-scope="scope">{{ scope.row.updatedAt | renderDateTime('h:mm dd/MM/Y')}}</template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="SỐ LƯỢNG" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{scope.row.quantity | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="NAM" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{scope.row.male | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="NỮ" align="right">
            <template slot-scope="scope">
              <div class="font-weight-bold">{{scope.row.female | toLocaleString}}</div>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" label="TRẠNG THÁI" align="right">
            <template slot-scope="scope">
              <el-switch
                :value="scope.row.isActive"
                @change="changeActiveCustomer({row: scope.row, index: scope.$index, val: $event})"
              ></el-switch>
            </template>
          </el-table-column>
          <el-table-column label-class-name="fs-12" align="right">
            <template slot-scope="scope">
              <BtnEdit
                @click="handleEdit({row:scope.row, index: scope.$index})"
                image="/images/icon/edit.svg"
                text="Sửa"
              />
              <BtnEdit
                @click="handleDelete({row:scope.row, index: scope.$index})"
                image="/images/icon/remove.svg"
                text="Xóa"
              />
            </template>
          </el-table-column>
        </el-table>
        <Pagination :pagination="pagination" @currentChange="handleChangePage" />
      </div>
    </el-card>
    <el-dialog
      title="Thêm Mẫu Trả Lời Mới"
      :visible.sync="dialog.add"
      width="400px"
      @close="dialog.add=false"
      :close-on-click-modal="false"
    >
      <AddGroupCustomer v-if="dialog.add" @close="dialog.add = false" />
      <div slot="title" class="el-dialog__title fs-24">Thêm Tệp Mới</div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import AddGroupCustomer from '@/components/Customer/AddGroupCustomer'
import Breadcrumb from '@/components/UI/Breadcrumb'
import BtnCreate from '@/components/UI/Button/BtnCreate'
import BtnEdit from '@/components/UI/ButtonTable/BtnEdit'
import Pagination from '@/components/UI/Pagination'
export default {
  components: {
    AddGroupCustomer,
    Breadcrumb,
    BtnCreate,
    BtnEdit,
    Pagination
  },
  async asyncData({ store }) {
    await store.dispatch('groupCustomer/getListGroupCustomer', { page: 1 })
  },
  data() {
    return {
      loading: {
        table: false
      },
      dialog: {
        add: false
      },
      filter: {
        page: 1
      }
    }
  },
  computed: {
    ...mapState('groupCustomer', ['listGroupCustomer', 'pagination'])
  },
  watch: {
    'dialog.add'(val) {
      if (!val) this.SELECT_GROUP_CUSTOMER({})
    }
  },
  methods: {
    handleEdit({ row, index }) {
      this.SELECT_GROUP_CUSTOMER(row)
      this.dialog.add = true
    },
    ...mapActions('groupCustomer', [
      'getListGroupCustomer',
      'deleteGroupCustomer',
      'updateGroupCustomer'
    ]),
    ...mapMutations('groupCustomer', [
      'SELECT_GROUP_CUSTOMER',
      'SET_PROPERTY_ACTIVE',
      'SET_PAGINATION'
    ]),
    handleChangePage({ type, value }) {
      this.filter[type] = value
      this.SET_PAGINATION({ [type]: value })
      this.loadDataTable(type)
    },
    async loadDataTable(type) {
      this.loading.table = true
      try {
        if (type !== 'page') this.filter.page = 1
        await this.getListGroupCustomer(this.filter)
      } catch (error) {}
      this.loading.table = false
    },
    async changeActiveCustomer({ row, index, val }) {
      this.SET_PROPERTY_ACTIVE({ key: 'isActive', value: val, index })
      const { isSuccess } = await this.updateGroupCustomer({
        id: row.id,
        data: { name: row.name, isActive: val }
      })
      if (isSuccess) {
        this.$message.success('Cập nhật thành công')
      } else {
        this.$message.error('Cập nhật thất bại')
        this.SET_PROPERTY_ACTIVE({ key: 'isActive', value: !val, index })
      }
    },
    async handleDelete({ row, index }) {
      try {
        await this.$confirm(
          `Bạn có chắc muốn xóa tệp <span class="font-weight-bold">${row.name}</span>`,
          {
            title: 'Thông báo',
            dangerouslyUseHTMLString: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy',
            type: 'warning'
          }
        )
        const { isSuccess } = await this.deleteGroupCustomer({ id: row._id })
        if (isSuccess) this.$message.success('Xóa thành công')
      } catch (error) {}
    }
  }
}
</script>
<style lang="scss" scoped>
.link-detail {
  text-decoration: none;
  color: #606266;
  &:hover {
    text-decoration: underline;
  }
}
</style>
